@font-face {
    font-family: 'Sui Generis';
    src: url('./fonts/sui-generis-free.rg-regular.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('./fonts/sui-generis-free.rg-regular.ttf') format('woff2'),             /* Super Modern Browsers */
         url('./fonts/sui-generis-free.rg-regular.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('./fonts/sui-generis-free.rg-regular.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('./fonts/sui-generis-free.rg-regular.ttf') format('svg');               /* Legacy iOS */
}
@font-face {
    font-family: 'Aileron Regular';
    src: url('./fonts/aileron.regular.otf') format('embedded-opentype'), /* Internet Explorer */
         url('./fonts/aileron.regular.otf') format('woff2'),             /* Super Modern Browsers */
         url('./fonts/aileron.regular.otf') format('woff'),              /* Pretty Modern Browsers */
         url('./fonts/aileron.regular.otf') format('truetype'),          /* Safari, Android, iOS */
         url('./fonts/aileron.regular.otf') format('svg');               /* Legacy iOS */
}
body {
    background-color: white;
    font-family: 'Aileron Regular';
    font-size: 18px;
}
h1 {
    font-family: 'Sui Generis';
    font-size: 30px;
}
div {
    background-color: #606090aa;
    color:white;
    border-radius: 10px;
    padding:5px;
    margin:10px;
  }
body {
    background-color: #222;
}

button {
    text-align:center;
    font-family:'Sui Generis';
    font-size:xx-large;
    color:white;
    background-color:rgba(100, 214, 255, 0.58);
    border:0px;
    border-radius: 5px;
    width:95%;
    height:50px;
    padding:5px;
    margin: 5px;
}

button:hover {
  background-color:rgb(0, 157, 255);
}
 
a {
    text-decoration: none;
}
a:link {
    color: violet;
}

/* visited link */
a:visited {
    color: pink;
}

/* mouse over link */
a:hover {
    color: salmon ;
}

/* selected link */
a:active {
    color: plum;
}